// ACF Form select
.acf-form-select {
  display: inline-block;

  &::before {
    content: "\00A0";
    background: url(#{$svg_src}/icon__down.svg) no-repeat;
    background-size: contain;
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }

  select {
    padding: 0 2rem $form-input-padding 0;
    border-width: 0 0 .2rem 0;
  }
}

// ACF Full cart
.acf-full-cart {
  padding: $large-spacing 0;
  position: relative;

  &__inner {
    display: flex;
  }

  &__main {
    flex-grow: 1;
  }
}

.acf-full-cart__heading {
  @include heading-bold;
  font-size: 2.4rem;
  border-bottom: $base-border;
  padding-bottom: $small-spacing;
  margin-bottom: $base-spacing;
}

.acf-full-cart__product-list {
  > li {
    padding: $base-spacing 0;
    border-bottom: $base-border;
  }
}

// ACF Mini cart

.acf-mini-cart {
  display: block;
  margin-left: $base-spacing;
}

.acf-mini-cart__inner {
  cursor: pointer;
  position: relative;
  padding: .7rem 1.4rem .7rem 0;
}

.acf-mini-cart__icon {
  display: block;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  background: url(#{$svg_src}/icon__cart.svg) no-repeat;
  background-size: contain;
  z-index: 1;
}

.acf-mini-cart__count {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 2.2rem;
  background: $blue;
  color: $white;
  z-index: 2;
}

// @TODO: Needs minor refactoring by BEM.
// Mini Cart dropdown.
.acf-mini-cart-dropdown {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 18px;
  padding: 10px;
  width: 280px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;

  &:before {
    content: "";
    border-color: #0000 #0000 $white #0000;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    right: 15px;
  }

  &__count {
    color: $base-color;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .acf-mini-cart-dropdown-total {
    border-top: 1px solid $base-border-color;
    color: $base-color;
    font-size: 1.8rem;
    margin: 20px 0;
    padding-top: 10px;
    overflow: hidden;

    &__label {
      float: left;
      font-weight: bold;
    }

    &__value {
      float: right;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}

// Mini Cart dropdown buttons.
.acf-mini-cart-dropdown-button {
  border: 1px solid $blue;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: none;
  width: 48%;

  &:hover,
  &:focus {
    background-color: darken($action-color, 10%);
    color: $white;
    outline: none;
  }

  &__primary {
    background-color: $action-color;
    color: $white;
  }
}

// Product in Mini Cart.
.acf-mini-cart-product {
  margin-bottom: 10px;
  overflow: hidden;

  &__image {
    float: left;
    margin-right: 20px;
    width: 66px;
    height: 84px;
  }

  &__price {
    color: $base-color;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__title {
    color: $secondary-color;
    font-size: 1.2rem;
  }

  .acf-mini-cart-product-variant {
    color: $secondary-color;
    font-size: 1.2rem;

    &__separator {
      padding: 0 5px;
    }
  }

  &__remove {
    cursor: pointer;
    color: $secondary-color;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 10px;
    transform: scaleY(0.75);
  }
}

// ACF Product card
.acf-product-card {
  position: relative;
}

.acf-product-card__inner {
  @include flex-row;
}

.acf-product-card__image {
  @include flex-width(6.8rem);
  position: relative;
  flex: 0 0 auto;

  @include mappy-bp(small) {
    @include flex-width(17.8rem);
  }
}

.acf-product-card__content {
  padding: 0 $base-spacing;
  flex-grow: 1;
}

.acf-product-card__price {
  @include heading-bold;
  font-size: 1.8rem;
  line-height: 1;

  @include mappy-bp(small) {
    font-size: 3rem;
  }
}

.acf-product-card__title {
  font-size: 1.6rem;
  line-height: 1.4;
  padding: $small-spacing 0;

  @include mappy-bp(small) {
    padding: $base-spacing 0;
    font-size: 2.4rem;
  }
}

.acf-product-card__variants-list {
  @include flex-row;
  flex-wrap: wrap;
  margin-left: -$small-spacing;

  > li {
    padding: 0 $small-spacing;
  }
}

.acf-product-card__variant-label {
  display: block;
  margin-bottom: $small-spacing;
  line-height: 1.2;
}

.acf-product-card__variant-options {
  @include base-regular;
  color: $medium-gray;
  line-height: 1.2;
}

.acf-product-card__subtotal {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.acf-product-card__subtotal-label {
  font-weight: bold;
  margin-right: 1rem;
}

.acf-product-card__remove {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  padding: 0;
  background: url(#{$svg_src}/icon__remove.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

// ACF Add to cart
.acf-add-to-cart {
  position: relative;
}

.acf-add-to-cart__variants-list {
  @include flex-row;
  flex-wrap: wrap;
  margin-left: -$base-spacing;
  margin-bottom: $base-spacing;

  > li {
    padding: 0 $base-spacing;
  }
}

.acf-add-to-cart__variant {
  @include base-regular;
  margin-bottom: $small-spacing;
}

.acf-add-to-cart__variant-label {
  @include heading-bold;
  margin-bottom: $small-spacing;
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
}

.acf-add-to-cart__variant-options {
  position: relative;
  line-height: 1.2;
}

.acf-add-to-cart__button {
  @extend %text-truncate;
  @include heading-bold;
  padding: $small-spacing $base-spacing;
  color: $white;
  background: $blue;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  width: auto;
  cursor: pointer;

  &:hover {
    background: darken($blue, 5%);
  }
}

// Checkout.
.acf-checkout {
  align-self: flex-start;
  background-color: #f8f8f8;
  color: $dark-gray;
  margin-left: 7.4rem;
  padding: 2rem 3rem;
  width: 34.2rem;

  &__heading,
  &__label,
  &__accept {
    font-weight: bold;
  }

  &__subtotal,
  &__tax {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    border-bottom: $base-border;
    font-size: 2.2rem;
    padding-bottom: $base-spacing;
  }

  &__subtotal {
    font-size: 2.4rem;
    margin: 1rem 0;
  }

  &__tax {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  &__delivery {
    margin: $base-spacing 0;

    .acf-checkout__label {
      font-size: 2.4rem;
    }

    .acf-form-select {
      display: block;

      &:before {
        right: $small-spacing;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    select {
      cursor: pointer;
      background-color: transparent;
      border: $base-border;
      padding: $small-spacing;
    }
  }

  &__accept {
    font-size: 1.8rem;
    margin-bottom: .5rem;
  }

  &__payment-options {
    li {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 1rem;
      width: 5.1rem;
      height: 3.2rem;
    }
  }

  // TODO: Use svg files.
  &__payment-visa {
    background-image: url(#{$img_src}/payment-visa.png);
  }
  &__payment-pp {
    background-image: url(#{$img_src}/payment-pp.png);
  }
  &__payment-mastercard {
    background-image: url(#{$img_src}/payment-mastercard.png);
  }

  &__button {
    display: block;
    background: $blue;
    color: $white;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 4rem 0 3rem;
    padding: $small-spacing 0;
    transition: none;

    &:hover,
    &:focus {
      color: $white;
    }

    &:hover {
      background: darken($blue, 5%);
    }

    &:focus {
      outline: none;
    }
  }
}
